{% extends 'base.html.twig' %}

{% block title %} Impressum | {{ parent() }} {% endblock %}

{% block body %}

    <div class="container mt-5">
    <h2>Impressum</h2>
    <div class="row">
    <div class="col-lg-6">
        <p>„Holocaust in Ungarn und Deportationen nach Norddeutschland 1944 “ ist ein Projekt des Instituts für die Geschichte der deutschen
            Juden.</p>
        <p>
            Institut für die Geschichte der deutschen Juden<br/>
            Beim Schlump 83<br/>
            20144 Hamburg<br/>
        </p>
        <p>
            +49 40 - 42 838-2617<br/>
            kontakt(at)igdj-hh.de
        </p>
        <p>
            Das Institut ist eine Stiftung bürgerlichen Rechts in der Trägerschaft der
            Freien und Hansestadt Hamburg und wird von der Behörde für Wissenschaft,
            Forschung, Gleichstellung und Bezirke der Freien und Hansestadt Hamburg gefördert.
        </p>
        <p>
            Vertretungsberechtigte Personen:<br/>
            Direktorin Dr. Kim Wünschmann<br/>
            Stellvertretender Direktor: PD Dr. Andreas Brämer
        </p>

        <h3>Projektbeteiligte</h3>
        <p>
            Inhaltlich Verantwortlich:<br/>
            Prof. Dr. Kim Wünschmann<br/>
            Dr. Anna Menny
        </p>
        <p>
            Technische Konzipierung und Umsetzung:<br/>
            <a href="https://coding-friends.com">Dr. Anna Neovesky</a>
        </p>
        <p>
            Fallstudien:<br/>
            Louis Wörner
        </p>
        <p>
            Biografische Studien:<br/>
            Lara Meinert
        </p>

        <h3>Danksagung</h3>
        <p>
            Wir danken...
        </p>

        <h3>Förderung</h3>
        <p>
            Diese Publikation steht im Kontext des EU CERV-Projekts “Digital Memorial Knowledge Infrastructure – The Holocaust in Hungary 80
            Years Later” (HUNGMEM)
        </p>
        <p>
            <img class="img-fluid" src="{{ asset('images/') }}"
                 alt=""/>
        </p>

        <h3>Nutzungsrechte</h3>
        <p>
            Die Inhalte stehen unter einer CC BY 4.0 Lizenz und können unter Namensnennung weitergenutzt werden.
        </p>

        <h2 class="pt-4" id="datenschutz">Datenschutz</h2>
        <p>
            Dies ist ein Online-Angebot des Instituts für die Geschichte der deutschen Juden (IGdJ). Für die
            Verarbeitung aller personenbezogenen Daten, die im Zuge des Betriebs dieses Angebots anfallen, gilt
            die <a href="https://igdj-hh.de/datenschutz" target="_blank"
                   title="Datenschutzerklärung auf der Website des Instituts für die Geschichte der deutschen Juden">
                allgemeine Datenschutzerklärung des IGdJ
            </a>.
        </p>
        <p>
            Für die Sammlung anonymisierter Zugriffsdaten wird <em>Fathom Analytics</em> genutzt.
            Fathom Analytics ist ein durch Conva Ventures Inc. angebotener Dienst für
            anonymisierte Analysen, durch den der Anbieter ermitteln kann, wie Nutzer diese Anwendung nutzen.
            Erhobene Daten werden durch Hashing-Vorgänge anonymisiert. Weitere Informationen sind
            <a href="https://usefathom.com/data" alt="Information zur Datenverarbeitung von Fathom Analytics">hier</a> und über die
            <a href="https://usefathom.com/privacy" alt="Datenschutzerklärung von Fathom Analytics">Datenschutzerklärung des Dienstes</a>
            erhältlich.<br/>Verarbeitete personenbezogene Daten: Nutzungsdaten.
            Verarbeitungsort: Kanada.
        </p>

    </div>

{% endblock %}