{% extends 'base.html.twig' %}

{% block title %} Quellen | {{ parent() }} {% endblock %}

{% block body %}
    {% include 'elements/navigation-sources.html.twig' %}

    <div class="container g-4 py-5 study">
        <h2>Quellenlage und Forschungsstand</h2>
        <div class="row">
            <div class="col-xl-8 mb-2">
                <p class="abstract">
                    Das Wissen über Deportierte aus Ungarn in nordwestdeutschen Konzentrationslagern ist bis heute sehr
                    begrenzt. Bereits eine realistische Schätzung der Gesamtzahl der in die Konzentrationslager
                    Neuengamme und Bergen-Belsen aus Ungarn deportierten Personen liegt bislang nicht vor. Die Namen der
                    meisten Deportierten sind unbekannt. Dies liegt zum einen an der verhältnismäßig späten
                    Aufmerksamkeit, die dieser Häftlingsgruppe und der von ihr geleisteten Zwangsarbeit in der
                    (deutschen) Geschichtswissenschaft gewidmet wurde, zum anderen aber auch an der nur in Bruchstücken
                    vorhandenen Quellenüberlieferung.<sup><a href="#endnote1" id="footnote1">1</a></sup>
                </p>
            </div>
        </div>

        <h3 class="mt-4">Forschung zu Deportationen aus Ungarn</h3>
        <div class="row">
            <div class="col-lg-8">
                <p>
                    Noch vor der vollständigen Befreiung Ungarns begann mit der „Untersuchungskommission zur Erforschung
                    und Bekanntmachung der von den Nationalsozialisten und Pfeilkreuzlern verübten Verbrechen“ (Náci és
                    nyilas rémtettek kivizsglál´sára alakult bizottság) bereits im Februar 1945 die Dokumentation der
                    nationalsozialistischen Verbrechen und das Sammeln historischen Materials. Die Kommission war durch
                    ein örtliches Organ der provisorischen ungarischen Regierung gebildet worden, womit sie eines der
                    wenigen Beispiele für eine staatlich angeordnete Dokumentation von Verbrechen der
                    Nationalsozialisten und ihrer Kollaborateure zu dieser Zeit
                    ist.<sup><a href="#endnote2" id="footnote2">2</a></sup> Bereits im Frühjahr 1945 begann
                    auch das Landesfürsorgekomitee der Deportierten (Deportáltakat Gondozó Országos Bizottság – DEGOB)
                    als eine Betroffenen-Organisation in Budapest mit der Befragung überlebender Deportierter, wenn
                    diese sich (vorübergehend) in Budapest aufhielten. Mehr als 5.000 Überlebende der
                    nationalsozialistischen Konzentrationslager legten auf diese Weise Zeugnis
                    ab.<sup><a href="#endnote3" id="footnote3">3</a></sup> Andere Überlebende
                    publizierten ihre Erinnerungsberichte. Auch die wissenschaftliche Auseinandersetzung mit dem Thema
                    begann in Ungarn früh und galt lange als einzigartig für
                    Osteuropa.<sup><a href="#endnote4" id="footnote4">4</a></sup> Im Fokus stand dabei vor allem
                    die gezielte Ermordung der aus Ungarn deportierten Jüdinnen und Juden, von denen jede bzw. jeder
                    dritte in Auschwitz-Birkenau ermordet wurde, lediglich 22 Prozent der Deportierten
                    überlebten.<sup><a href="#endnote5" id="footnote5">5</a></sup> Das
                    Schicksal der ins Deutsche Reich deportierten Zwangsarbeiter und Zwangsarbeiterinnen fand
                    demgegenüber lange wenig Aufmerksamkeit.<sup><a href="#endnote6" id="footnote6">6</a></sup>
                    Bis heute kontrovers diskutiert wird insbesondere das
                    Verhältnis deutscher und ungarischer Täter sowie die Entscheidungsprozesse, die zu den Deportationen
                    führten.<sup><a href="#endnote7" id="footnote7">7</a></sup> Ausgehend von den verschiedenen
                    Herkunftsorten der Verfolgten, die heute über mehrere Länder verteilt liegen, ist sie eine
                    transnationale europäische Geschichte von Krieg und Gewalt.
                </p>
                <p>

                </p>
            </div>
            <div class="col-lg-4">
                <div class="infobox mt-2">
                    <h4>&#9432; Jüdinnen und Juden</h4>
                    <p>
                        Die aus Ungarn deportierten Juden und Jüdinnen gehörten verschiedenen Gemeinden und
                        religiösen Strömungen im Judentum an. Nicht alle definierten sich zwangsläufig selbst als
                        jüdisch. Für
                        ihre Verfolgung durch die Nationalsozialisten war weder ihre Religion noch eine
                        kulturelle Zugehörigkeit zum Judentum oder die Selbstzuschreibung
                        entscheidend. Das Zentrum der nationalsozialistischen Weltanschauung bildete
                        ein rassistischer Antisemitismus, der Jüdinnen und Juden nach ihrer Abstammung
                        definierte. Auch Christen und Christinnen sowie Atheisten und Atheistinnen
                        wurden unabhängig von ihrer Selbstdefinition oder kulturellen Zugehörigkeit
                        durch die Nationalsozialisten als Juden verfolgt, wenn sie deren
                        Abstammungskriterien entsprachen. Nicht alle hier als Jüdinnen und Juden
                        bezeichneten Personen identifizierten sich selbst als jüdisch, sie alle wurden
                        jedoch als jüdisch verfolgt. </p>
                </div>
            </div>
        </div>

        <h3 class="mt-4">Forschung zur Zwangsarbeit der KZ-Häftlinge</h3>
        <div class="row">
            <div class="col-lg-8">
                <p>
                    Der International Tracing Service Arolsen war 1948 durch die Alliierten gegründet worden, um
                    zunächst vor allem Überlebenden und Angehörigen Informationen über vermisste Personen, die von den
                    Nationalsozialisten verschleppt worden waren, zur Verfügung zu stellen. Das Archiv mit seinem
                    umfassenden Quellenbestand steht mittlerweile auch der Forschung zur Verfügung.
                </p>
                <p>
                    Für die Forschungen zu Häftlingen aus Ungarn ist insbesondere das ab 1944 stark ausgebaute
                    Außenlagersystem relevant. So befanden sich im März 1945 fast 75 Prozent der Häftlinge in den
                    Außenlagern des KZ Neuengamme und nur etwa ein Viertel im
                    Stammlager.<sup><a href="#endnote8" id="footnote8">8</a></sup>
                </p>
                <p>
                    Die geschichtswissenschaftliche Forschung in Deutschland begann sich aber erst Ende der
                    1980er-Jahre, mit der ökonomischen Ausbeutung der KZ-Häftlinge und dem Außenlagersystem an Orten der
                    Zwangsarbeit auseinanderzusetzten, nachdem im Zuge der Geschichtswerkstätten-Bewegung, die
                    Lokalgeschichte des Nationalsozialismus in den Blick
                    geriet.<sup><a href="#endnote9" id="footnote9">9</a></sup> In Folge der ehrenamtlichen und dann
                    auch wissenschaftlichen Auseinandersetzung mit lokalen Stätten der Verfolgung veränderte sich die
                    institutionelle Verankerung der Erinnerung und Erforschung der Opfer nationalsozialistischer
                    Verfolgung. An vielen Orten entstanden Gedenkstätten, Dokumentationszentren oder Archive. In
                    Nordwestdeutschland wurde 1981 ein erstes Dokumentenhaus auf dem Gelände des ehemaligen
                    Konzentrationslagers Neuengamme eingeweiht, ebenso gründeten sich Initiativen an einigen Standorten
                    ehemaliger Außenlager. In Bergen-Belsen hatte bereits seit 1952 eine Gedenkstätte bestanden, die
                    aber erst seit 1990 zu einer umfangreichen Gedenk- und Bildungsinstitution mit eigenen Archivkräften
                    und wissenschaftlichem Personal ausgebaut wurde. Ein Schritt, der sich in Neuengamme mit der
                    Eröffnung einer modernisierten Gedenkstätte mit Ausstellung ab 2005
                    vollzog.<sup><a href="#endnote10" id="footnote10">10</a></sup> Die wenigen verfügbaren
                    Informationen und Quellen über Häftlinge in den Außenlagern werden seitdem von den Archiven und
                    wissenschaftlichen Mitarbeitenden der entsprechenden Gedenkstätten und ehrenamtlich tätigen
                    Lokalhistorikerinnen und Lokalhistorikern zusammengetragen. Die Arbeit des Arolsen-Archivs, der
                    Gedenkstätten und ehrenamtlicher Historiker und Historikerinnen bildet die zentrale Grundlage für
                    die Forschung über und Erinnerung an Deportierte aus Ungarn in Nordwestdeutschland. Ohne sie wäre
                    auch dieses Projekt nicht möglich gewesen.
                </p>
            </div>
            <div class="col-lg-4">
            </div>
        </div>

        <h3 class="mt-4">Quellen zu Deportierten aus Ungarn</h3>
        <div class="row">
            <div class="col-lg-8">
                <p>
                    Die Überlieferungen in Neuengamme wie auch in Bergen-Belsen sind davon geprägt, dass die SS vor der
                    Befreiung fast die gesamte Lagerkorrespondenz und -dokumentation vernichtet hat.
                    Häftlingsbestandlisten oder Transportlisten, die Rückschlüsse auf die Namen der Inhaftierten
                    zulassen würden, sind nur in Ausnahmen vorhanden. Erhalten geblieben sind für das
                    Konzentrationslager Neuengamme insbesondere einzelne Dokumente, die Todesfälle verzeichnen, sodass
                    die Namen einiger Ermordeter bekannt sind.<sup><a href="#endnote11" id="footnote11">11</a></sup>
                    Für das Konzentrationslager Bergen-Belsen sind viele
                    Quellen zu überlebenden Häftlingen vorhanden, die beispielsweise im nach der Befreiung
                    eingerichteten DP-Camp untergebracht waren.<sup><a href="#endnote12" id="footnote12">12</a></sup>
                </p>
                <p>
                    Da viele der Neuengammer Außenlager vor der Befreiung geräumt wurden und Überlebende in der Regel in
                    „Auffanglager“ wie beispielsweise Bergen-Belsen transportiert wurden, wo sie dann befreit wurden,
                    gibt es diese Quellen für Neuengamme und seine Außenlager nicht. Eine Ausnahme bildet eine Liste
                    befreiter Häftlinge in Salzwedel, das einzige Außenlager des KZ Neuengamme, das nicht geräumt wurde
                    und dessen Häftlinge vor Ort befreit wurden.<sup><a href="#endnote13" id="footnote13">13</a></sup>
                    Die Deportationsrouten der in Bergen-Belsen befreiten
                    Häftlinge lassen sich ohne Unterlagen der SS-Verwaltung nicht ohne weiteres nachvollziehen. Die
                    erhaltenen Unterlagen der SS-Verwaltung lassen jedoch oft nur bruchstückhafte Rückschlüsse auf die
                    Inhaftierten zu, die zudem durch die entmenschlichende Perspektive der Täter geprägt sind.
                </p>
                <p>
                    So entsprechen bereits die in den Unterlagen angegebenen Berufe der Häftlinge nicht unbedingt den
                    tatsächlichen Berufen der Personen, da diese zum Teil im Hinblick auf die Selektion in Auschwitz
                    angegeben worden sind oder lediglich von der SS im Hinblick auf die Verwertbarkeit der Häftlinge
                    erfasst wurden. Auch Geburtsdaten sind teilweise bewusst falsch angegeben worden, um der Ermordung
                    durch die SS zu entgehen. Die Listen wurden zudem in der Regel von anderen Häftlingen geführt, die
                    in der Verwaltung eingesetzt wurden. Diese Häftlinge sprachen oft kein Ungarisch und waren ebenfalls
                    den unmenschlichen Haftbedingungen unterworfen, die von ihnen geführten Dokumente deshalb oft
                    fehlerhaft. Ein Vergleich zweier Listen, die dieselbe Gruppe von 300 Häftlingen als Insassen eines
                    Außenlagers im VW-Werk im heutigen Wolfsburg und als Zugänge eines anderen Außenlagers zu einem
                    späteren Zeitpunkt beschreiben, ergibt, dass von 298 Personen nur 62 mit identischen Namen und Daten
                    geführt wurden. Insbesondere bei den ungarischen Vornamen wurde nur ein Bruchteil in gleicher
                    Schreibweise festgehalten. Die Schreibweise der Namen der Häftlinge hing von dem jeweils
                    listenführenden Häftling ab. Da der Großteil der männlichen Häftlinge des KZ Neuengamme zunächst
                    ins Stammlager deportiert wurde und von dort auf die Außenlager verteilt wurde, ist eine Zuordnung
                    unterschiedlicher Daten, die dieselbe Person betreffen, kaum möglich. Selbst dort, wo uns Namen und
                    andere biografische Daten von Deportierten überliefert sind, entsprechen diese nicht unbedingt den
                    tatsächlichen biografischen Daten der betroffenen Personen.
                </p>
                <p>
                    Eine wichtige Quelle für KZ-Häftlinge, die sogenannte WVHA-Häftlingskartei, ermöglicht zwar wichtige
                    Rückschlüsse über Deportationsdaten und nationale Zusammensetzung der Häftlinge, enthält aber dafür
                    nicht die Namen der Häftlinge. Ab Mitte 1944 hatte die SS begonnen, in den meisten
                    Konzentrationslagern Häftlingskommandos aufzustellen, die die Informationen der lagereigenen
                    Häftlingsunterlagen auf standardisierte Häftlingskarteikarten übertrugen, die an ein zentrales
                    Institut des Wirtschaftsverwaltungshauptamtes (WVHA) der SS in Berlin gesendet wurden. In diesem
                    „Maschinellen Zentralinstitut für optimale Menschenerfassung und Auswertung“ sollten die
                    Informationen auf Lochkarten übertragen werden, um die Häftlingsinformationen zentral zu erfassen
                    und mittels einer sogenannten „Hollerithmaschine“ verarbeiten zu können. Während die lagereigenen
                    Häftlingsunterlagen des KZ Neuengamme und auch die Lochkarten selbst nicht erhalten geblieben sind,
                    sind die standardisierten Karteikarten größtenteils noch vorhanden. Auf ihnen finden sich jedoch
                    lediglich für die SS verwertbare und maschinell lesbare Informationen, das heißt die Häftlingsnummer
                    der Häftlinge, ihre Nationalität, ihr Geschlecht, ihre Geburtsdaten und Berufe sowie
                    Deportationsdaten, allerdings keine Namen.<sup><a href="#endnote14" id="footnote14">14</a></sup>
                    Diese Quellen stehen damit beispielhaft für die
                    entmenschlichende bürokratische Sichtweise der Nationalsozialisten, die Menschen zu bloßen Zahlen
                    und ihrer Verwendbarkeit für ihre Zwecke degradierten.
                </p>
                <p>
                    In den verschiedenen Unternehmensbeständen ist die Überlieferung zu der dort von den KZ-Häftlingen
                    geleisteten Zwangsarbeit ebenfalls lückenhaft und teilweise unzugänglich und bietet nur wenig
                    biografische Informationen über die Häftlinge selbst.
                </p>
            </div>
            <div class="col-lg-4">
                <div class="infobox mt-2">
                    <h4>&#9432; Zwangsarbeit</h4>
                    <p>
                        Das nationalsozialistische Deutschland griff in hohem Maße auf Zwangsarbeit
                        zurück um seinen Arbeitskräftebedarf zu decken, alleine im Deutschen Reich
                        mussten während des Zweiten Weltkrieges über 13,5 Millionen Menschen
                        Zwangsarbeit leisten. Zwangsarbeit wurde dabei in allen Industriezweigen aber
                        auch in der Landwirtschaft und in Privathaushalten eingesetzt. Die
                        Zwangsarbeiter und Zwangsarbeiterinnen gehörten insbesondere in den letzten
                        Kriegsjahren zum sichtbaren Alltag im nationalsozialistischen Deutschland.
                    </p>
                    <p>
                        <a href="{{ path('app_context') }}#zwangsarbeit"
                           title="Mehr Informationen zu Zwangsarbeit und historischem Kontext">
                            &#10149; Mehr Informationen zu Zwangsarbeit
                        </a>
                    </p>
                </div>
            </div>
        </div>

        <h3 class="mt-4">Berichte Überlebender</h3>
        <div class="row">
            <div class="col-lg-8">
                <p>
                    Unverzichtbare Quellen sind deshalb Schilderungen Überlebender. Diese sind zum einen in Form der
                    erwähnten DEGOB-Protokolle vorhanden, zum anderen aber auch in Interviews, die im Rahmen von
                    Forschungs- und Erinnerungsprojekten seit Anfang der 1980er-Jahre geführt worden sind. Mehrere
                    Überlebende norddeutscher Konzentrationslager, die aus Ungarn deportiert wurden, haben ihre
                    Erinnerungen auch publiziert.
                </p>
                <p>
                    Die Berichte der interviewten Überlebenden geben wichtige Einblicke in die Arbeitsorte,
                    Deportationsrouten und die Perspektive der Häftlinge. Sie bilden damit nicht nur wichtige Quellen
                    zur Geschichte der Außenlager, sondern ermöglichen auch einen Perspektivwechsel von den Quellen der
                    nationalsozialistischen Bürokratie, in der die Häftlinge nur als passives Menschenmaterial
                    erscheinen, zu den betroffenen Personen und ihren Erfahrungen sowie Überlebensstrategien angesichts
                    der Gewaltsituation, der sie ausgesetzt waren. Während die DEGOB-Protokolle stark durch die
                    Interviewenden geprägt waren, die nach eigenen Interessen auf einen standardisierten Fragenkatalog
                    zurückgriffen, zeichnen sich die in der Regel Jahrzehnte nach der Befreiung aufgenommenen Interviews
                    zwar durch eine stärkere Fokussierung auf die Perspektive der Überlebenden aus, in ihnen schlagen
                    sich aber zugleich individuelle wie gesellschaftliche Verarbeitungs- und Verdrängungsprozesse
                    nieder. Alle Interviews sind durch die konkrete Gesprächssituation geformt. Die Überlebenden
                    berichten in der Gegenwart über das, was sie erinnern, die Berichte sind damit kein Abbild des
                    Erlebten, sondern durch eine nachträgliche Sinnkonstruktion strukturiert, die nicht zuletzt durch
                    das Wissen um die Dimension des Massenmordes und den Ausgang der Geschichte geprägt sind. Die
                    Überlebenden berichten über die jeweiligen Lager zudem im Kontext ihrer gesamten
                    Verfolgungsgeschichte. Einige der Überlebenden beschrieben ihre Haftzeit in Außenlagern des KZ
                    Neuengamme rückblickend als „Luxury“, als „Luxus“, oder als “Paradies“, was nur im Kontext des
                    gesamten Gespräches und vor dem Hintergrund der Erfahrungen in Auschwitz und Bergen-Belsen Sinn
                    ergibt.<sup><a href="#endnote15" id="footnote15">15</a></sup>
                    Berichten können nur die Überlebenden, die Perspektive der Ermordeten bleibt zwangsläufig
                    unsichtbar.
                </p>
            </div>
            <div class="col-lg-4">
            </div>
        </div>

        <h3 class="mt-4">Wissen über Deportierte aus Ungarn in den KZs Neuengamme und Bergen-Belsen</h3>
        <div class="row">
            <div class="col-lg-8">
                <p>
                    Die Namen, Deportationswege und Perspektiven der meisten Deportierten bleiben daher unbekannt. Der
                    Historiker Detlef Garbe schätzt die Zahl der Häftlinge aus Ungarn im KZ Neuengamme und seinen
                    Außenlagern auf etwa 7.200.<sup><a href="#endnote16" id="footnote16">16</a></sup>
                    Lediglich die Namen von 2.105 dieser Häftlinge konnten im Projekt durch
                    die Kooperation mit der KZ Gedenkstätte Neuengamme dokumentiert werden. Ein Großteil dieser Namen
                    stammt dabei von den in Salzwedel befreiten Frauen, in anderen Außenlagern sind teilweise nur wenige
                    vereinzelte Namen bekannt. Anhand der vorhandenen Quellen konnten gleichzeitig Transporte von circa
                    6.300 Deportierten aus Ungarn nach Neuengamme oder in Neuengammer Außenlager identifiziert werden,
                    allerdings ohne, dass deshalb ihre Namen ermittelt werden konnten. Hinzu kommt, dass die
                    biografischen Daten, die vorhanden sind, keinen repräsentativen Ausschnitt der Häftlingsgruppe
                    darstellen. Während 85 Prozent der über Transporte nachgewiesenen Deportierten weiblich sind,
                    gehören lediglich 63 Prozent der überlieferten Namen Frauen. Die gefunden Daten lassen daher gerade
                    aufgrund ihrer fragmentarischen Zusammensetzung nur bedingt Rückschlüsse auf die Gesamtgruppe zu,
                    sowohl hinsichtlich des Geschlechts wie auch der anderen Kategorien wie Alter, regionale Herkunft,
                    aber auch Überlebenschancen.
                </p>
                <p>
                    Für das KZ Bergen-Belsen mit seiner komplexen Nutzungsgeschichte gibt es keine Schätzung der
                    insgesamt dort inhaftierten Häftlinge, die aus Ungarn deportiert wurden. 15.391 Namen von
                    KZ-Häftlingen aus Ungarn in Bergen-Belsen sind in der Häftlings-Datenbank der Gedenkstätte
                    Bergen-Belsen verzeichnet und konnten dank der Kooperation in das Projekt einfließen. Auch dies
                    stellt aufgrund der schlechten Quellenlage nur einen Bruchteil der tatsächlichen Anzahl dar. Die
                    vorliegenden Daten sind auch in diesem Fall nicht repräsentativ, so sind insbesondere die Namen der
                    freigelassenen jüdischen Geiseln und vieler Überlebender bekannt, ohne dass dies die tatsächlichen
                    Überlebenschancen der Deportierten widerspiegelt.
                </p>
                <p>
                    Der Großteil der Namen derjenigen, die aus Ungarn deportiert wurden und in nordwestdeutschen
                    Konzentrationslagern inhaftiert waren, aber auch wesentliche Informationen beispielsweise über
                    Todesdaten und Todesorte sind nicht ermittelbar. Insbesondere für Angehörige bleiben damit viele
                    Fragen offen.
                </p>
            </div>
            <div class="col-lg-4">
            </div>
        </div>

        <h3 class="mt-4">Perspektiven und Möglichkeiten der Forschung</h3>
        <div class="row">
            <div class="col-lg-8">
                <p>
                    Die Forschung zu einzelnen Außenlagern, Deportationen aus Ungarn, den Selektionen und
                    Lebensbedingungen in Auschwitz sowie den österreichischen Lagern hat vielfach bereits Erkenntnisse
                    über KZ-Häftlinge aus Ungarn produziert. Vielerorts steht eine Verknüpfung dieser Informationen noch
                    aus, das HUNGMEM-Projekt möchte hier einen Beitrag leisten. Dies würde zum einen übergeordnete
                    Erkenntnisse über den Umfang und die Lebensbedingungen der Häftlinge aus Ungarn in
                    Nordwestdeutschland ermöglichen. Zum anderen kann dies aber auch die Basis für einer Erinnerung
                    bilden, die nicht nur isolierte Zwangsarbeitseinsätze oder Deportationen, sondern das kaum bekannte
                    Leben der KZ-Häftlinge in Gänze in den Mittelpunkt stellt. Die Entrechtung und Ausgrenzung der Juden
                    und Jüdinnen und ihre Deportationen aus Ungarn sind aufgrund der Täter sowie der (tödlichen)
                    Zwangsarbeit in Deutschland Teil deutscher Geschichte.
                </p>
                <p>
                    Jeder biografisch orientierte Zugang steht dabei vor der Herausforderung auch an die namenlosen
                    Opfer zu erinnern und Leerstellen und Wissenslücken deutlich zu machen. Auch zukünftig wird die
                    Perspektive der Ermordeten und eine Vielzahl der Namen nicht ermittelbar sein. Vertiefende
                    Darstellungen von Gruppenbiografien bieten daher oftmals die einzige Möglichkeit auch an diese Opfer
                    zu erinnern und Zusammenhänge deutlich zu machen.
                </p>
            </div>
            <div class="col-lg-4">
                <div class="infobox">
                    <h4>&#9432; Mehr über das Projekt</h4>
                    <p>
                        <a href="{{ path('app_about') }}#zwangsarbeit"
                           title="Mehr Informationen zum Projekt HUNGMEM">
                            &#10149; Mehr Informationen zu HUNGMEM
                        </a>
                    </p>
                </div>
            </div>
        </div>

        <h3 class="mt-4">Bibliografie</h3>
        <div class="row">
            <div class="col-lg-8">
                <ul class="bibliography">
                    <li>
                        Marc Buggeln, Arbeit und Gewalt. Das Außenlagersystem des KZ Neuengamme, Göttingen 2009.
                    </li>
                    <li>
                        Hans Ellger, Salzwedel, in: Wolfgang Benz / Barbara Diestel (Hrsg.), Der Ort des Terrors.
                        Geschichte der nationalsozialistischen Konzentrationslager, Band 5: Hinzert. Auschwitz.
                        Neuengamme, München 2007, S. 514-516.
                    </li>
                    <li>
                        Regina Fritz, Eine frühe Dokumentation des Holocaust in Ungarn. Die »Untersuchungskommission zur
                        Erforschung und Bekanntmachung der von den Nationalsozialisten und Pfeilkreuzlern verübten
                        Verbrechen« (1945), in: Zeithistorische Forschungen / Studies in Contemporary History,
                        Online-Ausgabe, 14 (2017), H. 2, online unter:
                        <a href="https://zeithistorische-forschungen.de/2-2017/5496"
                           title="Website Zeithistorische Forschungen">
                            https://zeithistorische-forschungen.de/2-2017/5496
                        </a>(letzter Zugriff 26.07.2024).
                    </li>
                    <li>
                        Regina Fritz, Einleitung, in: Susanne Heim et al. (Hrsg.), Die Verfolgung und Ermordung der
                        europäischen Juden durch das nationalsozialistische Deutschland 1933–1945, Band 15. Ungarn
                        1944-1945. Bearbeitet von Regina Fritz, Berlin / Boston 2021, S. 13-84.
                    </li>
                    <li>
                        Regina Fritz, Zwischen Dokumentieren und Erforschen. Die Historiografie des Holocaust in Ungarn,
                        in: Einsicht. Bulletin des Fritz Bauer Instituts 11 (2014), S. 24-30.
                    </li>
                    <li>
                        Detlef Garbe, Neuengamme im System der Konzentrationslager: Studien zur Ereignis- und
                        Rezeptionsgeschichte, Berlin 2015.
                    </li>
                    <li>
                        Christian Gerlach / Götz Aly, Das letzte Kapitel. Der Mord an den ungarischen Juden, Stuttgart /
                        München 2002.
                    </li>
                    <li>
                        Katharina Hertz-Eichenrode, Ein KZ wird geräumt – Häftlinge zwischen Vernichtung und Befreiung,
                        Eine Wanderausstellung über die Auflösung des KZ Neuengamme und seiner Aussenlager durch die SS
                        im Frühjahr 1945, in: Gedenkstättenrundbrief 96 (2000), S. 27-34.
                    </li>
                    <li>
                        Johannes Meerwald, The DEGOB Protocols and the Deportations of Jewish Prisoners to the Dachau
                        Camp Complex, in: Hennig Borggräfe / Akim Jah (Hrsg.), Deportations in the Nazi Era: Sources and
                        Research, Berlin / Boston, S. 405-428.
                    </li>
                    <li>
                        Christian Römmer, Digitalisierung der WVHA-Häftlingskartei, in: Gedenkstätten-Rundbrief 150
                        (2009), S. 20-25.
                    </li>
                    <li>
                        Wilfried Wiedemann, Das neue Dokumentationszentrum der Gedenkstätte Bergen-Belsen, in: Stiftung
                        niedersächsische Gedenksätten (Hrsg.), Bergen-Belsen. Kriegsgefangenenlager 1940-1945.
                        Konzentrationslager 1943-1945. Displaced Persons Camp 1945-1950, Celle 2009, S. 13-19.
                    </li>
                    <li>
                        Jenny Wüstenberg, Zivilgesellschaft und Erinnerungspolitik in Deutschland seit 1945, Berlin
                        2020.
                    </li>
                </ul>
            </div>
        </div>

        <h3 class="mt-4">Fußnoten</h3>
        <div class="row">
            <div class="col-lg-8">
                <ol>
                    <li id="endnote1">
                        Vgl. Johannes Meerwald, The DEGOB Protocols and the Deportations of Jewish Prisoners to the
                        Dachau Camp Complex, in: Hennig Borggräfe / Akim Jah (Hrsg.), Deportations in the Nazi Era:
                        Sources and Research, Berlin / Boston, S. 405-428, S. 407.
                        <a href="#footnote1">&uarr;</a>
                    </li>
                    <li id="endnote2">
                        Vgl. Regina Fritz, Zwischen Dokumentieren und Erforschen. Die Historiografie des Holocaust in
                        Ungarn, in: Einsicht. Bulletin des Fritz Bauer Instituts 11 (2014), S. 24-30, S. 25; Dies., Eine
                        frühe Dokumentation des Holocaust in Ungarn. Die »Untersuchungskommission zur Erforschung und
                        Bekanntmachung der von den Nationalsozialisten und Pfeilkreuzlern verübten Verbrechen« (1945),
                        in: Zeithistorische Forschungen / Studies in Contemporary History, Online-Ausgabe, 14 (2017), H.
                        2, online unter: https://zeithistorische-forschungen.de/2-2017/5496 (letzter Zugriff:
                        26.07.2024).
                        <a href="#footnote2">&uarr;</a>
                    </li>
                    <li id="endnote3">
                        Vgl. Fritz, Zwischen Dokumentieren und Erforschen, S. 25.
                        <a href="#footnote3">&uarr;</a>
                    </li>
                    <li id="endnote4">
                        Vgl. Fritz, Zwischen Dokumentieren und Erforschen, S. 24.
                        <a href="#footnote4">&uarr;</a>
                    </li>
                    <li id="endnote5">
                        Vgl. Christian Gerlach / Götz Aly, Das letzte Kapitel. Der Mord an den ungarischen Juden,
                        Stuttgart / München 2002, S. 409; Regina Fritz: Einleitung, in: Susanne Heim et al. (Hrsg.), Die
                        Verfolgung und Ermordung der europäischen Juden durch das nationalsozialistische Deutschland
                        1933–1945, Band 15. Ungarn 1944-1945. Bearbeitet von Regina Fritz, Berlin / Boston 2021, S.
                        13-84, S. 84.
                        <a href="#footnote5">&uarr;</a>
                    </li>
                    <li id="endnote6">
                        Vgl. Meerwald, The DEGOB Protocols, S. 407.
                        <a href="#footnote6">&uarr;</a>
                    </li>
                    <li id="endnote7">
                        Vgl. Meerwald, The DEGOB Protocols, S. 407; sowie Gerlach / Aly, Das letzte Kapitel, S. 11-15.
                        <a href="#footnote7">&uarr;</a>
                    </li>
                    <li id="endnote8">
                        Vgl. Katharina Hertz-Eichenrode, Ein KZ wird geräumt – Häftlinge zwischen Vernichtung und
                        Befreiung, Eine Wanderausstellung über die Auflösung des KZ Neuengamme und seiner Aussenlager
                        durch die SS im Frühjahr 1945, in: Gedenkstättenrundbrief 96 (2000), S. 27-34, S. 27.
                        <a href="#footnote8">&uarr;</a>
                    </li>
                    <li id="endnote9">
                        Vgl. Marc Buggeln, Arbeit und Gewalt. Das Außenlagersystem des KZ Neuengamme, Göttingen 2009, S.
                        13-14.
                        <a href="#footnote9">&uarr;</a>
                    </li>
                    <li id="endnote10">
                        Vgl. Jenny Wüstenberg, Zivilgesellschaft und Erinnerungspolitik in Deutschland seit 1945, Berlin
                        2020, S. 105-106; Detlef Garbe, Neuengamme im System der Konzentrationslager: Studien zur Ereignis-
                        und Rezeptionsgeschichte, Berlin 2015, S. 373-418; Wilfried Wiedemann, Das neue
                        Dokumentationszentrum der Gedenkstätte Bergen-Belsen, in: Stiftung niedersächsische
                        Gedenkstätten (Hrsg.), Bergen-Belsen. Kriegsgefangenenlager 1940–1945. Konzentrationslager
                        1943-1945. Displaced Persons Camp 1945-1950, Celle 2009, S. 13-19, S. 13.
                        <a href="#footnote10">&uarr;</a>
                    </li>
                    <li id="endnote11">
                        Vgl. Buggeln, Arbeit und Gewalt, S. 27-29.
                        <a href="#footnote11">&uarr;</a>
                    </li>
                    <li id="endnote12">
                        Vgl. Wiedemann, Das neue Dokumentationszentrum.
                        <a href="#footnote12">&uarr;</a>
                    </li>
                    <li id="endnote13">
                        Vgl. Hans Ellger, Salzwedel, in: Wolfgang Benz / Barbara Diestel (Hrsg.), Der Ort des Terrors.
                        Geschichte der nationalsozialistischen Konzentrationslager, Band 5: Hinzert. Auschwitz.
                        Neuengamme, München 2007, S. 514-516.
                        <a href="#footnote13">&uarr;</a>
                    </li>
                    <li id="endnote14">
                        Christian Römmer, Digitalisierung der WVHA-Häftlingskartei, in: Gedenkstätten-Rundbrief 150
                        (2009), S. 20-25.
                        <a href="#footnote14">&uarr;</a>
                    </li>
                    <li id="endnote15">
                        Hédi Fried, Fragmente meines Lebens. Ein Leben bis Auschwitz und ein Leben danach, Lizenzausgabe
                        Hamburg 2023, britische Originalausgabe 1990, S. 116; Paula Herrmann, Unvergessliche Tage in
                        Hamburg, HB 392 Archiv der Gedenkstätte Neuengamme.
                        Vgl. Garbe, Neuengamme, S. 101.
                        <a href="#footnote15">&uarr;</a>
                    </li>
                </ol>
            </div>
        </div>

        <h3 class="mt-4">Zitierhinweis</h3>
        <div class="row">
            <div class="col-lg-8">
                <p>
                    Louis Wörner, Historischer Kontext: Ungarn und nationalsozialistische Zwangsarbeit,
                    in: Der Holocaust in Ungarn und die Deportationen nach Norddeutschland. Biographien, Lager und
                    Zwangsarbeit, hrsg. vom
                    Institut für die Geschichte der deutschen Juden, URL:
                    https://holocaust-ungarn-norddeutschland.de{{ path('app_context') }}.
                    Lizenz: <a href="https://creativecommons.org/licenses/by/4.0/" title="Lizenzbestimmungen auf der Seite von Creative Commons">CC BY 4.0</a>.
                </p>
            </div>
        </div>

    </div>

{% endblock %}