body {
	color: #181818;
	font-size: 1rem;
	margin-left: 2.5rem;
	margin-right: 2.5rem;
}

a, .footer-link {
	color: rgb(94,33,216);
}

a:hover {
	color: rgb(229,21,221);
}

footer-link:hover {
	color: rgb(229,21,221) !important;
}

p {
	font-family: 'Roboto', sans-serif;
}

h1, h1 a, h1 a:hover {
	font-family: 'Bebas Neue', sans-serif;
	font-weight: bold;
	color: black;
	text-transform: uppercase;
	text-decoration: none;
}


h2, h2 a {
	font-family: 'Bebas Neue', sans-serif;
	font-size: 1.75rem;
	font-weight: bold;
	color: black;
}

h3, h3 a {
	font-family: 'Bebas Neue', sans-serif;
	font-size: 1.5rem;
	font-weight: bold;
	color: black;
}

h4 {
	font-family: 'Bebas Neue', sans-serif;
	font-size: 1.2rem;
	font-weight: bold;
	color: black;
}

.subtitle {
	font-family: 'Roboto Condensed', sans-serif;
	font-size: 1.3rem;
	font-weight: lighter;
}

footer, footer p {
	font-family: 'Roboto Condensed', sans-serif;
}


/* Navigation: Image on big size, title of the website on mobile */
.navbar-brand .brand-text {
	display: none;
}
@media (max-width: 991.98px) { /* Bootstrap 'lg' breakpoint */
	.navbar-brand .brand-text {
		display: inline;
	}
	.navbar-brand .brand-image {
		display: none;
	}
}

@media (max-width: 991.98px) { /* Bootstrap 'lg' breakpoint */
	.title-lg {
		display: none;
	}
}

/* Site specific elements */

.studiesoverview {
	margin-top: 1rem;
}

.studiesoverview .more {
	background-color: black;
	color: white;
	padding: 0.4rem;
	border-radius: 0.5rem;
/* TODO: hover state with text or black rectangle in highlight color */
}

.biographies {
	padding:1rem;
}

.metadata {
	background-color: #f1f2f3;
}

.gallery {
	padding-top: 1rem;
}

.caption {
	font-family: 'Roboto Condensed', sans-serif;
	font-size: 1rem;
	color: #4B4B4B;
}

.quote {
	font-family: 'Unna', serif;
	font-size: 1.3rem;
	font-style: italic;
	font-weight: lighter;
	padding: 10px;
	border-left: 15px solid;
	border-color: #f1f2f3;
}

/* Studies & Biographies */

.study {
	font-size: 1.2rem;
}

.abstract {
	font-family: 'Roboto Condensed', sans-serif;
	background: rgba(94, 33, 216, .05);
	padding: 1rem;
	border-left: 0.4rem solid black;
}

.infobox {
	border-style: solid;
	border-color: black;
	border-width: 0.2rem;
	padding: 0.5rem;
}

.infobox p {
	font-family: 'Roboto Condensed', sans-serif;
	font-size: 0.9rem
}

/* Mobile styles */

@media (max-width: 768px) {
	.hideOnMobile {
		display: none;
	}
}

@media (max-device-width: 768px) {
	.displayOnMobile {
		display: block;
	}
}

/* Device specific display of hero: Project title gets smaller */
@media only screen and (max-width: 768px) {
	h1 {
		font-size: 1.6rem;
	}
}


/* Leaflet */

#map {
	height: 600px;
	width: 100%;
}


