{% extends 'base.html.twig' %}

{% block title %} Melamed | {{ parent() }} {% endblock %}

{% block body %}
    <div class="container mt-5">
        <div class="row align-items-start pt-4">
            <div class="col-lg-6 col-xl-6">
                <video width="100%"  height="100%" controls poster="{{ asset('images/poster/Melamed.jpg') }}">
                    <source src="{{ asset('videos/Melamed.mov') }}" type="video/mp4">
                </video>
                <div>
                    <p>Carmen Melamed über den Wiederaufbau der Jüdischen Gemeinde nach 1945. © IGdJ,
                        2022.</p>
                </div>
                <div class="pt-5">
                    <p class="quote">„Für uns war es die Befreiung. Für die Anderen natürlich nicht, da war es die
                        Kapitulation...“</p>
                </div>
            </div>
            <div class="col-lg-6 col-xl-6">
                <div class="metadata p-4">
                    <p>Gesamtlänge des Interviews: 1:21:48</p>
                    <p>Gezeigter Ausschnitt: 03:50</p>
                    <p>Interviewerin: Karen Körber, Anna Menny</p>
                    <p>Ort des Interviews: Online</p>
                    <p>Interview geführt im: 27.1.2022</p>
                    <p>Schnitt: Anna Menny, Aline Philippen</p>
                    <p>Objekt(e): –</p>
                    <p>Schlagwort(e): Jüdische Gemeinde Hamburg,
                        jüdische Speisegesetze,
                        Synagoge Hohe Weide,
                        Synagoge Kielortallee,
                        Nationalsozialismus,
                        Zweiter Weltkrieg,
                        Holocaust,
                        Kontingentflüchtlingsgesetz
                    </p>
                    <p>Genannte Orte: Denver,
                        Hohe Weide Hamburg,
                        Kielortallee Hamburg,
                        USA,
                        Israel
                    </p>
                    <p>Lizenz: <a href="https://creativecommons.org/licenses/by/4.0/deed.de">CC BY 4.0</a> (Text), <a
                                href="https://creativecommons.org/licenses/by-nc-nd/4.0/deed.de">CC BY-NC-ND 4.0</a>
                        (Video)</p>
                </div>
            </div>
        </div>
        <div class="row align-items-start pt-4">
            <div class="col-lg-6 col-xl-6">
                <h2 class="title-show">Carmen Melamed</h2>
                <p>
                    Carmen Melamed wurde 1937 als Tochter einer jüdischen Mutter und eines nichtjüdischen Vaters in
                    Hamburg geboren. Nach Abschluss der Schule begann ihre langjährige Mitarbeit in der Verwaltung der
                    Jüdischen Gemeinde, die sie erst Ende der 1990er-Jahre endgültig beendete. Anfang der 2000er-Jahre
                    zog sie nach Denver in die USA. Melamed trat bereits 1946 in die Jüdische Gemeinde Hamburgs ein und
                    ist bis heute Mitglied.
                </p>
            </div>
        </div>
    </div>
{% endblock %}
