<div class="container mt-5">
    <footer class="pt-1 border-top">
        <div class="row">
            <div class="col-8 col-md-6 mb-6">
                <a href="https://www.igdj-hh.de/" title="To the website of the Institute for the History of the German Jews">
                <img class="img-fluid" style="width: 200px;" src="{{ asset('images/logos/igdj-logo.png') }}"
                     alt="Logo of the Institute for the History of the German Jews">
                </a>
            </div>
        </div>

        <div class="row">
            <div class="d-flex flex-column flex-sm-row justify-content-between py-4 my-4 ">
                <p style="padding-top: 8px;">&copy; 2025 Institute for the History of the German Jews</p>
                <ul class="list-unstyled d-flex">
                    <li><a href="{{ path('app_imprint') }}" class="nav-link footer-link" >Imprint</a></li>
                    <li><a href="{{ path('app_imprint') }}#data-protection" class="nav-link footer-link">Data protection</a></li>
                </ul>
            </div>
        </div>

    </footer>
</div>