<div class="container">
    <footer class="d-flex flex-wrap justify-content-between align-items-center pt-4 py-3 my-4 mt-5 border-top">
        <p class="col-md-6 text-muted">&copy; 2022 Institut für die Geschichte der deutschen Juden </p>

        <ul class="nav col-md-4 justify-content-end">
            <li class="nav-item"><a href="{{ path('app_imprint') }}" class="nav-link">Impressum</a></li>
            <li class="nav-item"><a href="{{ path('app_imprint') }}#datenschutz" class="nav-link">Datenschutz</a></li>
        </ul>
    </footer>
</div>