<div class="hero device">
<div class="container mt-5">
    <div class="row pt-1 pb-1">
        <div class="col">
            <h1 class="fw-bold">
                <a href="{{ path('app_home') }}">
                    Holocaust in Ungarn und Deportationen nach Norddeutschland 1944
                </a>
            </h1>
            <p class="lead">Fallstudien zu Deportationsouten, Lagern und Deportierten</p>
        </div>
    </div>
</div>
</div>