{% extends 'base.html.twig' %}

{% block title %} Impressum | {{ parent() }} {% endblock %}

{% block body %}

    <div class="container mt-5">
    <h2>Impressum</h2>
    <div class="row">
    <div class="col-lg-6">
        <p>„Jüdisches Hamburg erzählen“ ist ein Projekt des Instituts für die Geschichte der deutschen
            Juden.</p>
        <p>
            Institut für die Geschichte der deutschen Juden<br/>
            Beim Schlump 83<br/>
            20144 Hamburg<br/>
        </p>
        <p>
            +49 40 - 42 838-2617<br/>
            kontakt(at)igdj-hh.de
        </p>
        <p>
            Das Institut ist eine Stiftung bürgerlichen Rechts in der Trägerschaft der
            Freien und Hansestadt Hamburg und wird von der Behörde für Wissenschaft,
            Forschung, Gleichstellung und Bezirke der Freien und Hansestadt Hamburg gefördert.
        </p>
        <p>
            Vertretungsberechtigte Personen:<br/>
            Direktorin Dr. Kim Wünschmann<br/>
            Stellvertretender Direktor: PD Dr. Andreas Brämer
        </p>
        <p>
            Inhaltlich Verantwortlich:<br/>
            Dr. Karen Körber<br/>
            Dr. Anna Menny
        </p>
        <p>
            Technische Konzipierung und Umsetzung:<br/>
            <a href="https://coding-friends.com">Anna Neovesky</a>
        </p>
        <p>
            Weitere Beteiligte:<br/>
            Aline Philippen
        </p>

        <h3>Danksagung</h3>
        <p>
            Wir danken allen beteiligten Personen für das uns entgegengebrachte Vertrauen und die Bereitschaft, sehr
            persönliche Erfahrungen und Erinnerungen mit uns zu teilen und auf dieser Website einer interessierten
            Öffentlichkeit bereitszustellen.
        </p>
        <p>
            Wir danken der Jüdischen Gemeinde in Hamburg für die Unterstützung bei der Umsetzung dieses Projektes,
            insbesondere für die Kontaktherstellung zu Gesprächspartnerinnen und -partnern.
        </p>

        <h3>Förderung</h3>
        <p>
            Gefördert durch das Referat <em>Förderung des jüdischen Lebens</em> der Behörde für Wissenschaft,
            Forschung, Gleichstellung und Bezirke.
        </p>
        <p>
            <img class="img-fluid" src="{{ asset('images/BWFG-Logo.png') }}"
                 alt=""/>
        </p>

        <h3>Nutzungsrechte</h3>
        <p>
            Die Interviews dürfen ausschließlich für private und wissenschaftliche Zwecke genutzt werden. Nähere
            Informationen finden Sie auf der Seite zu <a href="{{ path('app_jsonapi') }}" target="_blank"
                                                         title="Öffnet JSON Schnittstelle in neuem Fenster">Nutzungshinweisen
                und Lizenzierung</a>.
        </p>

        <h2 class="pt-4" id="datenschutz">Datenschutz</h2>
        <p>
            Dies ist ein Online-Angebot des Instituts für die Geschichte der deutschen Juden (IGdJ). Für die
            Verarbeitung aller personenbezogenen Daten, die im Zuge des Betriebs dieses Angebots anfallen, gilt
            die <a href="https://igdj-hh.de/datenschutz" target="_blank"
                   title="Datenschutzerklärung auf der Website des Instituts für die Geschichte der deutschen Juden">
                allgemeine Datenschutzerklärung des IGdJ
            </a>.
        </p>
        <p>
            Für die Sammlung anonymisierter Zugriffsdaten wird <em>Fathom Analytics</em> genutzt.
            Fathom Analytics ist ein durch Conva Ventures Inc. angebotener Dienst für
            anonymisierte Analysen, durch den der Anbieter ermitteln kann, wie Nutzer diese Anwendung nutzen.
            Erhobene Daten werden durch Hashing-Vorgänge anonymisiert. Weitere Informationen sind
            <a href="https://usefathom.com/data" alt="Information zur Datenverarbeitung von Fathom Analytics">hier</a> und über die
            <a href="https://usefathom.com/privacy" alt="Datenschutzerklärung von Fathom Analytics">Datenschutzerklärung des Dienstes</a>
            erhältlich.<br/>Verarbeitete personenbezogene Daten: Nutzungsdaten.
            Verarbeitungsort: Kanada.
        </p>

    </div>

{% endblock %}