{% extends 'base.html.twig' %}

{% block title %}  {{ parent() }} {% endblock %}

{% block body %}

    <div class="container mt-5">
    <h2>Das Portal wird am <em>26.1.2023</em> veröffentlicht.</h2>


{% endblock %}