{% extends 'base.html.twig' %}

{% block title %} Nutzung | {{ parent() }} {% endblock %}

{% block body %}


    <div class="container mt-5">
        <h2>Nutzung</h2>
        <div class="row">
            <div class="col-md-6">
                <p>
                    Dieses Projekt wäre ohne die Bereitschaft der hier vorgestellten Personen, ihre sehr persönlichen
                    Erfahrungen zu teilen, nicht möglich gewesen. Die hier bereitgestellten Interviews sind gekürzte
                    Ausschnitte aus Gesprächen, die in der Regel zwischen 30 Minuten und zwei Stunden gedauert haben.
                    Die Audio- und Videodateien wurden von den Interviewten ausdrücklich für die Veröffentlichung auf
                    der Website <em>Jüdisches Hamburg erzählen</em> freigegeben. Die Website ist dabei nicht nur die
                    Veröffentlichungsplattform, sondern bietet auch eine Kontextualisierung der Interviews durch
                    weiterführende biografische und historische Informationen – gewissermaßen, sofern dies im Netz
                    möglich ist, einen geschützten Raum.
                </p>
                <p>
                    Von den Nutzerinnen und Nutzern erwarten wir einen sensiblen und respektvollen Umgang mit dem
                    bereitgestellt Material. Bei der Nutzung der Interviews sind stets die Persönlichkeitsrechte der
                    Interviewten zu wahren. Eine Weiterverbreitung des Materials ist nur nach
                    ausdrücklicher Genehmigung gestattet.
                </p>
            </div>
        </div>

        <h3 class="pt-4">Lizenzierung</h3>
        <div class="row">
            <div class="col-md">
                <p>
                    Alle Interviews dürfen ausschließlich für private und wissenschaftliche Zwecke genutzt werden. Eine
                    kommerzielle
                    Nutzung ist ausgeschlossen. Die Interviews sind mit der
                    <a href="https://creativecommons.org/licenses/by-nc-nd/4.0/deed.de" target="_blank"
                       title="Erläuterungen zur Lizenz auf der Creative Commons Website">Creative Commons Lizenz CC
                        BY-NC-ND 4.0</a> lizenziert.
                    Diese Lizenz erlaubt eine Nachnutzung zu nicht-kommerziellen Zwecken unter der Bedingung der
                    Namensnennung. Eine Bearbeitung des Materials ist nicht gestattet. Ein Verstoß gegen die
                    Persönlichkeitsrechte der Interviewten wird geahndet.
                </p>
                <p>
                    Die begleitenden Texte und Metainformationen zu den Interviews sind mit der <a
                            href="https://creativecommons.org/licenses/by/4.0/deed.de" target="_blank"
                            title="Erläuterungen zur Lizenz auf der Creative Commons Website">Creative Commons Lizenz CC
                        BY 4.0</a> lizenziert.
                    Die Texte können unter Namensnennung in jedem Format oder Medium genutzt werden.
                </p>
                <p>
                    Die Software für das Portal ist auf <a href="https://github.com/annaneo/juedisches-hamburg-erzaehlen">https://github.com</a>
                    unter der MIT License veröffentlicht. Die Lizenz ermöglicht eine offene Nutzung unter der Namensnennung: Anna Neovesky (2013) annaneo/juedisches-hamburg-erzaehlen: v 1.0, https://github.com/annaneo/juedisches-hamburg-erzaehlen.
                </p>

            </div>
            <div class="col-md">
                <img src="{{ asset('images/cc-by-nc-sa.png') }}"
                     alt="Emblem der CC BY-NC-ND Lizenz"/>
                <img class="mt-2" src="{{ asset('images/cc-by.png') }}"
                     alt="Emblem der CC BY Lizenz"/>
                <p class="caption mt-2">Embleme der genutzten Creative Commons Lizenzen.<br/><a
                            href="https://creativecommons.org/about/downloads/" target="_blank"
                            title="Download Seite von Creative Commons mit Logos, Icons und Badges">bereitgestellt von
                        Creative Commons unter CC BY-SA</a>.</p>
            </div>
        </div>

        <h3 class="pt-4">Schnittstelle</h3>
        <div class="row">
            <div class="col-md-6">
                Die Forschungsdaten stehen unter <a href="https://creativecommons.org/licenses/by/4.0/deed.de"
                                                    target="_blank"
                                                    title="Erläuterungen zur Lizenz auf der Creative Commons Website">CC
                    BY 4.0</a> zur Verfügung und
                können unter Namensnennung in jedem Format oder Medium genutzt werden. Über eine
                <a href="{{ path('app_jsonapi') }}" target="_blank" title="Öffnet JSON Schnittstelle in neuem Fenster">JSON-Schnittstelle</a>
                können Metadaten zu allen Interviews maschinenlesbar bezogen werde.
            </div>
        </div>
    </div>

{% endblock %}