{% extends 'base.html.twig' %}

{% block title %} Pestov | {{ parent() }} {% endblock %}

{% block body %}
    <div class="container mt-5">
        <div class="row align-items-start pt-4">
            <div class="col-lg-6 col-xl-6">
                <video width="100%"  height="100%" controls poster="{{ asset('images/poster/Pestov.jpg') }}">
                    <source src="{{ asset('videos/Pestov.mp4') }}" type="video/mp4">
                </video>
                <div>
                    <p>Elias Pestov über die Geschichte seines Vaters und seine eigene Jugend in Hamburg. © IGdJ,
                        2022.</p>
                </div>
                <div class="pt-5">
                    <p class="quote">„Ich feier keine Feiertage, ich fühle mich einfach jüdisch. Und damit verbinde ich diese Gemeinschaft, ich sehe mich als einen Teil davon.“</p>
                </div>
            </div>
            <div class="col-lg-6 col-xl-6">
                <div class="metadata p-4">
                    <p>Gesamtlänge des Interviews: 25:39</p>
                    <p>Gezeigter Ausschnitt: 05:14</p>
                    <p>Interviewerin: Karen Körber, Anna Menny</p>
                    <p>Ort des Interviews: Online</p>
                    <p>Interview geführt am: 30.11.2022</p>
                    <p>Schnitt: Anna Menny, Aline Philippen</p>
                    <p>Objekt(e): –</p>
                    <p>Schlagwort(e): Sowjetunion,
                        Kontingentflüchtlingsgesetz,
                        Migration,
                        jüdische Identität</p>
                    <p>Genannte Orte: Ladispoli,
                        Lübeck,
                        Hamburg,
                        Moskau,
                        Sowjetunion,
                        Schweden,
                        USA,
                        Israel
                    </p>
                    <p>Lizenz: <a href="https://creativecommons.org/licenses/by/4.0/deed.de">CC BY 4.0</a> (Text), <a
                                href="https://creativecommons.org/licenses/by-nc-nd/4.0/deed.de">CC BY-NC-ND 4.0</a>
                        (Video)</p>
                </div>
            </div>
        </div>
        <div class="row align-items-start pt-4">
            <div class="col-lg-6 col-xl-6">
                <h2 class="title-show">Elias Pestov</h2>
                <p>
                    Elias Pestov wurde in Hamburg geboren und besuchte das Joseph-Carlebach-Bildungshaus, das 2007 in
                    Hamburg als erste jüdische Schule nach dem Zweiten Weltkrieg eröffnet wurde. Pestovs Vater war 1980,
                    gemeinsam mit seinen Eltern und Großeltern aus der Sowjetunion über Italien nach Lübeck
                    ausgewandert. Für sein Studium zog er zunächst nach Hamburg, dann nach Moskau. An der Moskauer
                    Universität lernte er Pestovs Mutter kennen, mit der er gemeinsam nach Hamburg zurückkehrte. In den
                    präsentierten Interviewausschnitten gibt Elias Pestov Einblicke in seine Familiengeschichte und sein
                    jüdisches Selbstverständnis, das während seiner Schulzeit gefestigt wurde.
                </p>
            </div>

        </div>
    </div>
{% endblock %}
