{# templates/bundles/TwigBundle/Exception/error404.html.twig #}
{% extends 'base.html.twig' %}

{% block body %}
    <div class="container g-4 py-5 study">
        <h2>Fehler 404: Seite nicht gefunden</h2>
        <div class="row">
            <div class="col-xl-8 mb-2">
                <p>
                    Die angegebene Seite konnte nicht gefunden werden. Überprüfen Sie die URL
                    auf Tippfehler oder <a href="{{ path('app_home', {_locale: 'de'}) }}">kehren Sie zur Startseite zurück</a>.
                </p>
                <p style="margin-bottom: 2.5rem;">
                    Bitte informieren Sie gegebenenfalls kontakt(at)igdj-hh.de
                </p>
            </div>
        </div>
        <h2>Error 404: page not found</h2>
        <div class="row">
            <div class="col-xl-8 mb-2">
                <p>
                    The requested page couldn't be located. Checkout for any URL
                    misspelling or <a href="{{ path('app_home', {_locale: 'en'}) }}">return to the homepage</a>.
                </p>
                <p>
                    You might want to inform kontakt(at)igdj-hh.de
                </p>
            </div>
        </div>
    </div>
{% endblock %}