{# templates/bundles/TwigBundle/Exception/error404.html.twig #}
{% extends 'base.html.twig' %}

{% block body %}
    <div class="container g-4 py-5 study">
        <h2>Fehler 405: Methode nicht zul채ssig</h2>
        <div class="row">
            <div class="col-xl-8 mb-2">
                <p>
                    Die angeforderte Methode wird f체r diese URL nicht unterst체tzt. 
                    <a href="{{ path('app_home', {_locale: 'de'}) }}">Kehren Sie zur Startseite zur체ck</a>.
                </p>
                <p style="margin-bottom: 2.5rem;">
                    Bitte informieren Sie gegebenenfalls kontakt(at)igdj-hh.de
                </p>
            </div>
        </div>
        <h2>Error 405: method not allowed</h2>
        <div class="row">
            <div class="col-xl-8 mb-2">
                <p>
                    The requested method is not supported for this URL.
                    <a href="{{ path('app_home', {_locale: 'en'}) }}">Return to the homepage</a>.
                </p>
                <p>
                    You might want to inform kontakt(at)igdj-hh.de
                </p>
            </div>
        </div>
    </div>
{% endblock %}